*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    
}
.container{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}
.hero{
    background-image: url('../resources/Banner\ Image.png');
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    padding: 145px 245px ;
    margin: 50px 0;
}
.hero p{
    color: #FFF;
    text-align: center;
    font-size: 32px;
}
.hero h1{
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-weight: 900;
}
.new-year{
    text-align: center;
    margin: 50px 0;
}
.new-year h2{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
}
.new-year p{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-top: 10px;
}
.new-year h4{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}
.new-year img{
    margin-top: 50px;
}
.welcome{
    background-image: url('../resources/Vectorrr.png');
    background-size: cover;
    border-radius: 15px;
    margin: 50px 0;
    display: flex;
    justify-content:space-between;
    padding: 50px 100px 50px 80px
}
.wel-tex{
    padding-right: 15px;
} 
.wel-tex h3{
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 5px;
} 
.wel-tex p{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 5px;
} 
.button{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #F00;
    padding: 5px 10px;
    margin-top: 15px;
} 
.wel-img{
}
.wel-img img{
    max-width: 250px;
}